<!DOCTYPE html>
<html lang="es">
<head>
  <title>Actividades Culturales de Madrid</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href='{{STATIC_URL}}css/main.css'/>  
</head>

<body>

<div id="wrapper">

  <div id="fondo">
    <img src="{{STATIC_URL}}css/images/url.jpg">
  </div>

  <div id="header">
    <h1><b>Actividades Culturales de Madrid - {%block titulo %}{% endblock %}</b></h1>
    <ul>		
      <li><a href="/" title="">Inicio</a></li>
      <li>{% block login %}{% endblock %}</li> 
    </ul>
  </div>

  <div>
    <div id="centercolumn">
      <h1>{% block encabezado %}{% endblock %}</h1>
      <div>{% block contenido %}{% endblock %}</div>
    </div>
    <div id="rightcolumn">
      <h4><b>Links</b></h4>
      <ul>
        <li><a href="/" title="">Inicio</a></li>
        <li><a href="/todas" title="">Todas las actividades</a></li>
        <li><a href="/ayuda" title="">Ayuda</a></li>
      </ul>
      
      <h4><b>Noticias</b></h4>
      <blockquote><p>¡Eventos actualizados cada dia!</p>
      </blockquote>
    </div>
  </div>

  <div id="footer">
      <br /> Copyright &copy; 2015 by Daniel Crespo. Designed by: <a href="https://github.com/creespow"title="my_name">creespow</a>
  </div>

</div>
</body>
</html>
